<section class="skills">
	<div class="flex flex-center">
		<div class="col-1">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque augue urna, semper in ultrices id, efficitur vitae urna. Sed et ligula eros. Nullam imperdiet lacinia mollis. In vehicula, ex vitae pharetra hendrerit, urna mauris aliquam lacus, ut mattis lorem nulla eget velit. Integer mollis lacinia gravida. Cras tempor, urna congue ullamcorper facilisis, libero mauris tincidunt ex, aliquam sodales ligula ipsum eget augue. Nunc nec leo ac erat porttitor posuere eget ac turpis.</p>
		</div>

		<div class="col-1">
			<p>Donec faucibus felis eros, sit amet dictum mi fermentum vel. Pellentesque dignissim eros vitae leo malesuada, vitae luctus tortor accumsan. Nulla scelerisque congue congue. Sed interdum tellus nulla, et tempor elit suscipit pharetra. Fusce tristique venenatis mauris. In semper in elit nec sollicitudin. Vestibulum vel sem fermentum, commodo sapien non, eleifend neque. Morbi eget blandit augue. Curabitur non dictum velit, at aliquam nunc. Nunc ultrices nisi a nunc aliquet, non bibendum metus molestie</p>
		</div>
	</div>

</section>

<section class="skills">
	<div class="flex flex-space-around">
		<div class="col-1">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque augue urna, semper in ultrices id, efficitur vitae urna. Sed et ligula eros. Nullam imperdiet lacinia mollis. In vehicula, ex vitae pharetra hendrerit, urna mauris aliquam lacus, ut mattis lorem nulla eget velit. Integer mollis lacinia gravida. Cras tempor, urna congue ullamcorper facilisis, libero mauris tincidunt ex, aliquam sodales ligula ipsum eget augue. Nunc nec leo ac erat porttitor posuere eget ac turpis.</p>
		</div>

		<div class="col-1">
			<p> ORDER Donec faucibus felis eros, sit amet dictum mi fermentum vel. Pellentesque dignissim eros vitae leo malesuada, vitae luctus tortor accumsan. Nulla scelerisque congue congue. Sed interdum tellus nulla, et tempor elit suscipit pharetra. Fusce tristique venenatis mauris. In semper in elit nec sollicitudin. Vestibulum vel sem fermentum, commodo sapien non, eleifend neque. Morbi eget blandit augue. Curabitur non dictum velit, at aliquam nunc. Nunc ultrices nisi a nunc aliquet, non bibendum metus molestie</p>
		</div>
	</div>

</section>

<section class="home">
	<div class="flex flex-center">
		<div class="col-2">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque augue urna, semper in ultrices id, efficitur vitae urna. Sed et ligula eros. Nullam imperdiet lacinia mollis. In vehicula, ex vitae pharetra hendrerit, urna mauris aliquam lacus, ut mattis lorem nulla eget velit. Integer mollis lacinia gravida. Cras tempor, urna congue ullamcorper facilisis, libero mauris tincidunt ex, aliquam sodales ligula ipsum eget augue. Nunc nec leo ac erat porttitor posuere eget ac turpis.</p>
		</div>

	</div>

</section>

<section class="passions">
		
	<div class="flex flex-center">
		<div class="col-50 flex flex-center">
			<div class="col-1">
				<p>Donec faucibus felis eros, sit amet dictum mi fermentum vel. Pellentesque dignissim eros vitae leo malesuada, vitae luctus tortor accumsan. Nulla scelerisque congue congue. Sed interdum tellus nulla, et tempor elit suscipit pharetra. Fusce tristique venenatis mauris. In semper in elit nec sollicitudin. Vestibulum vel sem fermentum, commodo sapien non, eleifend neque. Morbi eget blandit augue. Curabitur non dictum velit, at aliquam nunc. Nunc ultrices nisi a nunc aliquet, non bibendum metus molestie</p>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="col-50 flex flex-center">
			<div class="col-1">
				<p>Donec faucibus felis eros, sit amet dictum mi fermentum vel. Pellentesque dignissim eros vitae leo malesuada, vitae luctus tortor accumsan. Nulla scelerisque congue congue. Sed interdum tellus nulla, et tempor elit suscipit pharetra. Fusce tristique venenatis mauris. In semper in elit nec sollicitudin. Vestibulum vel sem fermentum, commodo sapien non, eleifend neque. Morbi eget blandit augue. Curabitur non dictum velit, at aliquam nunc. Nunc ultrices nisi a nunc aliquet, non bibendum metus molestie</p>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</section>