<div class="mobile-nav "><!--is open-->
	<ul>
		<li a href ="#home">Home</li>
		<li a href ="#about_me">About Me</li>
		<li a href ="#skills">Skills</li>
		<li a href ="#passions">Passions</li>
		<li a href ="#social_media">Social Media</li>
		<li a href ="#email">Email</li>
   </ul>
</div> 


<header>
	<div class ="header-position">
		<h1 class ="logo">Mihalca Danut</h1>

	<nav class ="site-nav">
		<ul>
			<li a href ="#home">Home</li>
			<li a href ="#about_me">About Me</li>
			<li a href ="#skills">Skills</li>
			<li a href ="#passions">Passions</li>
			<li a href ="#social_media">Social Media</li>
			<li a href ="#email">Email</li>
		</ul>
	</nav>
	<a href="plus-one"></a>
	<div class ="mobile-nav-toggle"><span></span></div>
	
	</div>

</header>
