---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	   <title>Danut Mihalca</title>
	   <meta charset="utf-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   <link rel="stylesheet" href="/assets/css/main.css" />
	</head>
<body>

	<div class = "home-wrap">

		{% include header.html %}
	  
	   <div class = "home-sections">

			{%include section-home.html%}
			{%include section-about.html%}  
			{%include section-skills.html%}
			{%include section-passions.html%}
			{%include section-social-media.html%} 
			{%include section-email.html%}      

		</div>
	</div>

	<script src="/assets/js/jquery-2.1.4.js"></script>
	<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>