<section class="skills">

	<h3 id="skills">Skills</h3>
	

	<div class="skill-lockup">
		<div class="skill-unit unit-top mobile-top">
			<div class="skill-name">Organization</div>
			<div class="skill-bar">
				<span class="color1"></span>
			</div>
		</div>


		<div class="skill-unit unit-top ">
			<div class="skill-name">Communication</div>
			<div class="skill-bar">
				<span class="color2"></span>
			</div>
		</div>
		<div class="skill-unit">
			<div class="skill-name">Visual Design</div>
			<div class="skill-bar">
				<span class="color3"></span>
			</div>
		</div>


		<div class="skill-unit">
			<div class="skill-name">Programming</div>
			<div class="skill-bar">
				<span class="color4"></span>
			</div>
		</div>
		<div class="skill-unit unit-bottom">
			<div class="skill-name">Learning</div>
			<div class="skill-bar">
				<span class="color5"></span>
			</div>
		</div>


		<div class="skill-unit unit-bottom mobile-bottom">
			<div class="skill-name">Foreign Language</div>
			<div class="skill-bar">
				<span class="color6"></span>
			</div>
		</div>
	</div>
	
</section>