<section class="passions">
		
	<div id="passions" class="flex flex-center">
		<div class="col-50 flex flex-center my-teams">
			<div class="col-1">
				<h3>My Teams</h3>
			
				<a href="http://www.patriots.com/" class="img-link">
					<img src="assets/img/left/top-left.jpg"></img>
				</a>

				<a href="http://www.nba.com/heat/" class="img-link">
					<img src="assets/img/left/top-right.jpg"></img>
				</a>
				
				<a href="http://www.atlantafalcons.com/" class="img-link">
					<img src="assets/img/left/mid-left.jpg"></img>
				</a>
				
				<a href="http://www.nba.com/warriors/" class="img-link">
					<img src="assets/img/left/mid-right.jpg"></img>
				</a>
				
				<a href="http://www.ohiostatebuckeyes.com/sports/m-footbl/osu-m-footbl-body.html" class="img-link">
					<img src="assets/img/left/bottom-left.jpg"></img>
				</a>
				
				<a href="http://www.goduke.com/SportSelect.dbml?SPID=1845" class="img-link">
					<img src="assets/img/left/bottom-right.jpg"></img>
				</a>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="col-50 flex flex-center my-movies">
			<div class="col-1">
				<h3>Movies</h3>

				<a href="http://www.imdb.com/title/tt2820852/" class="img-link">
					<img src="assets/img/right/top-left.jpg"></img>
				</a>

				<a href="http://www.imdb.com/title/tt2267998/" class="img-link">
					<img src="assets/img/right/top-right.jpg"></img>
				</a>
				
				<a href="http://www.imdb.com/title/tt2379713/" class="img-link">
					<img src="assets/img/right/mid-left.jpg"></img>
				</a>
				
				<a href="http://www.imdb.com/title/tt0314353/" class="img-link">
					<img src="assets/img/right/mid-right.jpg"></img>
				</a>
				
				<a href="http://www.imdb.com/title/tt2911666/" class="img-link">
					<img src="assets/img/right/bottom-left.jpg"></img>
				</a>
				
				<a href="http://www.imdb.com/title/tt2312718/?ref_=nv_sr_1" class="img-link">
					<img src="assets/img/right/bottom-right.jpg"></img>
				</a>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</section>